
{% extends "base.html"%}
{% comment %} extends 우선순위가 가장 높은 태그 {% endcomment %}

{% block contents%}
<body>
        <!-- 여기서 부터-->
    {% for blog in posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                <p class="card-text">{{blog.summary}}</p>
                <a href="{% url 'detail' blog.id%}" class="card-link">...more</a>
                <a href="{% url 'delete' blog.id%}" class="card-link">delete</a>
            </div>
        </div>
    {% endfor %}

{#First Previous 3of4 Next Last#}
<div class="container">
{% if posts.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{% endif %}
{# 3of4 #}
<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span> {# 전체 페이지 수 #}
{# next Last #}
{% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif %}
</div>
{% endblock %}
</body>

